<div class="employee-container">
  <mat-card class="header-card">
    <mat-card-content>
      <mat-card-title class="card-header">
        <span *ngIf="selectedTab.value==0">Visitor Details</span>
        <span *ngIf="selectedTab.value==1">Person of Interest</span>
        <button mat-raised-button style="float:right" form="ngForm"
          [disabled]="!documentEditForm.form.valid">Save</button>
      </mat-card-title>
    </mat-card-content>
  </mat-card>
  <mat-card class="employee-card">
    <mat-tab-group [selectedIndex]="selectedTab.value" (selectedIndexChange)="selectedTab.setValue($event)">
      <mat-tab label="Visitor">
        <mat-card-content class="input-items">
          <form id="ngForm" (ngSubmit)="submitRequest()" #documentEditForm="ngForm">
            <table class="filter-list">
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>Visitor Type</mat-label>
                    <mat-select [formControl]="accessType" [(ngModel)]="selectedAccessType"
                      (selectionChange)="visitorAccessChange($event)">
                      <mat-option *ngFor="let access of visitorTypeAccess" [value]="access.typeCode">{{access.typeDesc}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td *ngIf="isVisitorEmployee">
                  <mat-form-field style="margin-top: 3px;">
                    <input matInput placeholder="Employee Id" type="number" [formControl]="empId" name="empId"
                      (change)="empIdEntered($event)" maxlength="10" required>
                    <mat-icon matSuffix (click)="getEmployeeDetails()" class="search-icon">search</mat-icon>
                    <mat-error *ngIf="empId.invalid">{{getEmpIdErrorMessage()}}</mat-error>
                  </mat-form-field>
                </td>
              </tr>
            </table>
            <table *ngIf="(isEmployeeDetailsFetched && isVisitorEmployee)|| !isVisitorEmployee; else">
              <!-- <tbody *ngFor="let dependent of dependentsLst; let i = index" [attr.data-index]="i"> -->
              <tr>
                <!-- <td rowspan="2">{{i+1}}.</td> -->
                <!-- <td><img class="visitor-img" src="assets/images/ccc-bg.jpg" alt="visitor_img"></td> -->

                <ng-container [ngTemplateOutlet]="newVisitor.photo ? withImage : noImage">
                </ng-container>

                <td class="visitor-detail">
                  <mat-form-field>
                    <input matInput placeholder="Name" [value]="newVisitor.name" [formControl]="name" name="name"
                      (change)="addData('name', $event)" required>
                    <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
                  </mat-form-field>
                </td>
                <td class="visitor-detail">
                  <mat-form-field>
                    <input matInput placeholder="Reffered By" type="number" [formControl]="reffered" name="reffered"
                      (change)="addData('reffered', $event)" [value]="newVisitor.reffered" required>
                    <mat-error *ngIf="reffered.invalid">{{getRefferedErrorMessage()}}</mat-error>
                  </mat-form-field>
                </td>
                <td class="visitor-detail">
                  <mat-form-field>
                    <input matInput placeholder="Email" [value]="newVisitor.email" [formControl]="email"
                      (change)="addData('email', $event)" required>
                    <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                  </mat-form-field>
                </td>
                <td class="visitor-detail">
                  <mat-form-field>
                    <input matInput placeholder="Mobile" [value]="newVisitor.mobile" [formControl]="mobile"
                      (change)="addData('mobile', $event)" name="mobile" maxlength="10" required>
                    <mat-error *ngIf="mobile.invalid">{{getMobileErrorMessage()}}</mat-error>
                  </mat-form-field>

                </td>
              </tr>
              <tr>
                <!-- <td>&nbsp;</td><td>&nbsp;</td> -->
                <td class="visitor-detail">
                  <mat-form-field>
                    <input matInput [matDatepicker]="pickerStart" placeholder="In Time" [formControl]="inTime"
                      [value]="newVisitor.inTime" (dateInput)="addDate('inTime', $event)"
                      (dateChange)="addDate('inTime', $event)">
                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                    <mat-datepicker type="datetime" clockStep="1" #pickerStart></mat-datepicker>
                    <mat-error *ngIf="inTime.invalid">{{getInTimeErrorMessage()}}</mat-error>
                  </mat-form-field>
                </td>
                <td class="visitor-detail">
                  <mat-form-field>
                    <input matInput [matDatepicker]="pickerEnd" placeholder="Out Time" [formControl]="outTime"
                      [value]="newVisitor.outTime" (dateInput)="addDate('outTime', $event)"
                      (dateChange)="addDate('outTime', $event)">
                    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                    <mat-datepicker type="datetime" clockStep="1" #pickerEnd></mat-datepicker>
                    <mat-error *ngIf="outTime.invalid">{{getOutTimeErrorMessage()}}</mat-error>
                  </mat-form-field>
                </td>
                <td class="visitor-detail">
                  <mat-form-field>
                    <input matInput placeholder="Reason" name="reason">
                  </mat-form-field>
                </td>
              </tr>
              <!-- </tbody> -->
            </table>
            <br>
            
            <!-- <button type="button" (click)="openDialog()">Click</button> -->

            <!-- <p><img src="assets/images/add.png" class="add-visitor-icon" (click)="addNewVisitor()"><label class="add-visitor-text"
                (click)="addNewVisitor()">&nbsp;Add Visitor</label></p> -->


            <!-- </p> -->
            <!-- 
        <mat-form-field>
          <mat-select [(ngModel)]="selectedVisitorType" placeholder="Visitor Type" required>
            <mat-option *ngFor="let visitor of visitorType" value="{{visitor.visitor_type_cd}}">
              {{visitor.visitor_type_cd}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

          </form>
          
        </mat-card-content>
      </mat-tab>





      <mat-tab label="Special">
        <mat-card-content class="input-items">
          <br>
          <form id="ngForm" (ngSubmit)="submitRequest()" #documentEditForm="ngForm">
            <table *ngIf="(isEmployeeDetailsFetched && isVisitorEmployee)|| !isVisitorEmployee; else">
              <!-- <tbody *ngFor="let dependent of dependentsLst; let i = index" [attr.data-index]="i"> -->
              <tr>
                <!-- <td rowspan="2">{{i+1}}.</td> -->
                <!-- <td><img class="visitor-img" src="assets/images/ccc-bg.jpg" alt="visitor_img"></td> -->

                <ng-container [ngTemplateOutlet]="newVisitor.photo ? withImage : noImage">
                </ng-container>

                <td class="visitor-detail">
                  <mat-form-field>
                    <input matInput placeholder="Name" [value]="newVisitor.name" [formControl]="name" name="name"
                      (change)="addData('name', $event)" required>
                    <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
                  </mat-form-field>
                </td>
                <td class="visitor-detail">
                  <mat-form-field>
                    <mat-label>Type</mat-label>
                    <mat-select [formControl]="specialType" [(ngModel)]="selectedSpecialType"
                      (selectionChange)="specialAccessChange($event)">
                      <mat-option *ngFor="let access of specialTypeAccess" [value]="access.typeCode">{{access.typeDesc}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td class="visitor-detail">
                  <mat-form-field>
                    <input matInput placeholder="Description" name="Description" [formControl]="description"
                      name="description">
                  </mat-form-field>
                </td>

              </tr>
            </table>
          </form><br><br>
          <table *ngIf="specialGuestLst.length>0" class="existing-special-visitors">
            
              <h4>Existing Special Visitors:</h4>
              <tr *ngFor="let guest of specialGuestLst">
                <td><img class="visitor-img" [src]="guest.photo"></td>
                <td>{{guest.name}}</td>
                <td>{{guest.type}}</td>
              </tr>
            </table>
          </mat-card-content>
      </mat-tab>
    </mat-tab-group>

  </mat-card>
</div>

<ng-template #withImage>
  <td rowspan="2">
    <img class="visitor-img" [src]="newVisitor.photo" alt="visitor_img">
  </td>
</ng-template>
<ng-template #noImage>
  <td rowspan="2">
    <!-- <mat-form-field> -->
    <label for=file>
      <span>
        <img class="visitor-img-upload" src="assets/images/visitor-img.png" alt="visitor_img" (click)="openDialog()">
        <span class="click-to-upload">Click to upload</span>
        <!-- <input type="file" name="fileTest" id="file" class="inputfile" accept="image/png, image/jpeg" (change)="uploadImage($event)"> -->
      </span>
    </label>
    <mat-error *ngIf="photoUploadError" style="font-size: x-small; ">{{getPhotoErrorMessage()}}</mat-error>
    <!-- </mat-form-field> -->
  </td>
</ng-template>

<ng-template #noImageSpecial>
  <td rowspan="2">
    <!-- <mat-form-field> -->
    <label for=file>
      <span>
        <img class="visitor-img-upload" src="assets/images/visitor-img.png" alt="visitor_img">
        <span class="click-to-upload">Click to upload</span>
        <input type="file" name="fileTest" id="file" class="inputfile" accept="image/png, image/jpeg"
          (change)="uploadImage($event)">
      </span>
    </label>
    <mat-error *ngIf="photoUploadError" style="font-size: x-small; ">{{getPhotoErrorMessage()}}</mat-error>
    <!-- </mat-form-field> -->
  </td>
</ng-template>


<!-- {{photo | json}} -->
<!-- <ngx-ui-loader [loaderId]="'loader-01'"></ngx-ui-loader> -->
